<html>
  <head>
    <title><%= @title ||= "Gingko Statistics Entry" %></title>
    <style type="text/css">
    div.teamschedule {font-family:"Gill Sans"; text-align:center;}
    table.center {margin-left:auto; margin-right:auto;}
    p.break {page-break-after:always;}
    
    table {
    	border-width: 1px 1px 1px 1px;
    	border-spacing: 2px;
    	border-style: outset outset outset outset;
    	border-color: gray gray gray gray;
    	border-collapse: separate;
    	background-color: white;
    }
    th {
    	border-width: 1px 1px 1px 1px;
    	padding: 1px 1px 1px 1px;
    	border-style: inset inset inset inset;
    	border-color: gray gray gray gray;
    	background-color: white;
    	-moz-border-radius: 0px 0px 0px 0px;
    }
    td {
    	border-width: 1px 1px 1px 1px;
    	padding: 1px 1px 1px 1px;
    	border-style: inset inset inset inset;
    	border-color: gray gray gray gray;
    	background-color: white;
    	-moz-border-radius: 0px 0px 0px 0px;
    }
    </style>
  </head>
  
  <body>
    <div class="body">
      
      <%= yield :layout %>
      
    </div>
  </body>
</html>